header{
    background-image: url(../IMG/encabezado.jpg); 
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}

body{
   background-image: url(../IMG/Fondo\ \ madera.jpg);
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    float: right;
    list-style: none;
    margin: 07px;
    border: 15px;
}
nav{
    background: yellowgreen;
    height: 15px;
    width: 270px;
    border-radius: 10px;
}
aside{
    border: 70px;
    height: 20px;
}


.ListaVarios{

    margin-right: 25%;
    justify-content: left;
 
}
.Listapritty{
    justify-content: center;
    margin-right: 25%;

}
.Listacerveza{
    justify-content: right;
    margin-right: 25%;

    }
h1{
    color:white;
    text-align: center;
}
.contenido{
background-color: rgba(139, 139, 0, 0.763);
width: auto;
height: auto;
    
}
p{
    color: gold;
    text-shadow: 1px 2px 2px black, 0 0 5px blue;
    text-align: center;
}

footer{
    min-width: 800px;
    max-height: max-content;
    width: 1254px;
    background-color: rgba(0, 123, 255, 0.587); 

    }
#mapa{
    position: relative;
    right: auto
    }
.Link{
    text-align: initial;
}
